@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  line-height: 1.8;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  color: #fff;
}

a {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  color: #fff;
}
a:hover {
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
}

.pc-block {
  display: block;
}
@media (max-width: 820px) {
  .pc-block {
    display: none;
  }
}

.sp-block {
  display: none;
}
@media (max-width: 820px) {
  .sp-block {
    display: block;
  }
}

.main {
  padding: 60px 0 0;
}
.main__section-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 12px;
}
@media (max-width: 600px) {
  .main__section-inner {
    padding: 40px 20px;
  }
}
.section-ttl__ttl {
  max-width: 320px;
  margin: 0 auto 40px;
}
@media (max-width: 600px) {
  .section-ttl__ttl {
    max-width: 240px;
  }
}

/* =================================
header
 ================================= */
.wrap-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.header {
  background-color: #1c100d;
  position: fixed;
}
.header__inner {
  height: 60px;
  padding: 4px 8px 4px 60px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
}
@media screen and (max-width: 1250px) {
  .header__inner {
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .header__inner {
    padding: 4px 8px;
  }
}
.header__ttl {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
}
@media screen and (max-width: 1250px) {
  .header__ttl {
    position: relative;
    width: 180px;
  }
}
@media (max-width: 820px) {
  .header__ttl {
    max-width: 120px;
  }
}
.header__nav-list {
  max-width: 900px;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 1120px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item {
  text-align: center;
  width: 120px;
}
.header__nav-link {
  color: #fff;
  position: relative;
  display: block;
  font-size: 13px;
  letter-spacing: 0.2em;
  padding: 4px 0 4px 0.5em;
  line-height: 13px;
}
.header__nav-link:hover {
  border: 1px solid #000;
  margin: 0 2px;
}
.header__open-btn {
  position: relative;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /*.active が付与された時の挙動*/
}
@media (max-width: 1120px) {
  .header__open-btn {
    display: block;
  }
}
.header__open-btn span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 11px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  width: 65%;
}
.header__open-btn span:nth-of-type(1) {
  top: 13px;
}
.header__open-btn span:nth-of-type(2) {
  top: 23px;
}
.header__open-btn span:nth-of-type(3) {
  top: 33px;
}
.header__open-btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}
.header__open-btn.active.active span:nth-of-type(2) {
  opacity: 0;
}
.header__open-btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}
.header__open-btn.active span:nth-of-type(3)::after {
  display: none;
}

.header-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background-color: #1c100d;
  transition: all 0.6s;
}
.header-sp.open-menu {
  right: 0;
}
.header-sp__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-sp__time {
  text-align: center;
  margin: 0 0 40px;
}
.header-sp__nav-list {
  margin: 0 0 40px;
}
.header-sp__nav-item {
  margin: 0 0 24px;
  color: #fff;
}
.header-sp__nav-link {
  color: #fff;
}

/* =================================
footer
 ================================= */
.footer__nev {
  display: flex;
  justify-content: center;
}
@media (max-width: 820px) {
  .footer__nev {
    flex-wrap: wrap;
  }
}
.footer__nav-item {
  padding: 0 16px;
  font-size: 16px;
  margin: 0 0 12px;
}
@media (max-width: 1120px) {
  .footer__nav-item {
    padding: 0 8px;
  }
}
@media (max-width: 820px) {
  .footer__nav-item {
    margin: 0 0 6px;
    font-size: 12px;
  }
}
.footer__bottom {
  background-color: #1c100d;
  padding: 12px 0;
}
.footer__coppy {
  text-align: center;
  font-size: 12px;
}

/* =================================
main-visual
 ================================= */
.main-visual {
  position: relative;
  padding: 0 8px 40px;
}
@media (max-width: 1120px) {
  .main-visual {
    padding: 0 8px 190px;
  }
}
@media (max-width: 600px) {
  .main-visual {
    padding: 0 8px 20px;
  }
}
.main-visual__time-text {
  background-color: #1c100d;
  color: #fff;
  margin: 12px 12px 12px auto;
  font-size: 14px;
  width: 320px;
  text-align: center;
  padding: 12px 0;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
          clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
  opacity: 0;
  animation: fade 0.8s ease-in-out 1.5s 1 normal forwards;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .main-visual__time-text {
    font-size: 12px;
    width: 300px;
    margin: 0 auto;
  }
}
.main-visual__logo {
  max-width: 1200px;
  margin: -60px auto 0;
  animation-name: zoomInAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@media (max-width: 600px) {
  .main-visual__logo {
    margin: -20px auto 0;
  }
}
@keyframes zoomInAnime {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
.main-visual__girls {
  max-width: 300px;
  position: absolute;
  bottom: 0;
  left: 5%;
  opacity: 0;
  animation: fade 0.4s ease-in-out 1s 1 normal forwards;
}
@media (max-width: 600px) {
  .main-visual__girls {
    display: none;
  }
}
.main-visual__girls-sp {
  max-width: 200px;
  margin: 24px auto 0;
  opacity: 0;
  animation: fade 0.4s ease-in-out 1s 1 normal forwards;
  display: none;
}
@media (max-width: 600px) {
  .main-visual__girls-sp {
    display: block;
  }
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
.main-visual__plan-wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  max-width: 900px;
  margin: 0 auto;
  opacity: 0;
  animation: fade 0.8s ease-in-out 1.5s 1 normal forwards;
}
@media (max-width: 600px) {
  .main-visual__plan-wrap {
    gap: 12px;
  }
}
.main-visual__plan-ttl {
  color: #fff;
  padding: 8px 24px;
  background-color: #1c100d;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
          clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
  font-size: 32px;
  margin: 0 0 12px;
}
@media (max-width: 600px) {
  .main-visual__plan-ttl {
    font-size: 18px;
    padding: 8px 12px;
  }
}
.main-visual__plan-text {
  text-align: center;
  font-size: 28px;
  text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 13px rgb(255, 255, 255), 0 0 16px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 22px rgb(255, 255, 255);
  font-weight: bold;
  color: #000;
}
@media (max-width: 600px) {
  .main-visual__plan-text {
    font-size: 16px;
  }
}
.main-visual__plan-span {
  font-size: 80%;
}

/* =================================
top-consept
 ================================= */
.top-consept {
  background-color: #1c100d;
  padding: 60px 16px;
}
@media (max-width: 600px) {
  .top-consept {
    padding: 20px 16px;
  }
}
.top-consept__text {
  text-align: center;
}
@media (max-width: 600px) {
  .top-consept__text {
    text-align: left;
  }
}

/* =================================
top-style
 ================================= */
.top-style {
  padding: 60px 0 50px;
}
@media (max-width: 600px) {
  .top-style {
    padding: 40px 0 30px;
  }
}
.top-style__text {
  text-align: center;
  margin: 0 0 16px;
  padding: 0 16px;
}
@media (max-width: 600px) {
  .top-style__text--left {
    text-align: left;
  }
}
.top-style__slider {
  margin: 0 0 40px;
  overflow: hidden;
}

/* =================================
top-cast
 ================================= */
.top-cast {
  padding: 60px 0;
}
@media (max-width: 600px) {
  .top-cast {
    padding: 40px 0;
  }
}
.top-cast__box {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
.top-cast__item {
  width: calc(33.33% - 8px);
}

/* =================================
top-system
 ================================= */
.top-system {
  padding: 60px 16px;
}
@media (max-width: 600px) {
  .top-system {
    padding: 20px 16px;
  }
}
@media screen and (max-width: 780px) {
  .top-system__table-wrap {
    overflow-x: scroll;
  }
}
.top-system__table {
  width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 780px) {
  .top-system__table {
    width: 700px;
  }
}
.top-system__td {
  color: #fff;
  font-size: 19px;
  padding: 2px 16px;
}
@media screen and (max-width: 780px) {
  .top-system__td {
    font-size: 14px;
    padding: 2px 8px;
  }
}
.top-system__plan {
  background-color: #ae1e2a;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
          clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
  padding: 4px 8px;
  margin: 0 0 12px;
  font-size: 18px;
  text-align: center;
  width: 100px;
}
.top-system__houdai {
  background-color: #000;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
          clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
  padding: 4px 8px;
  font-size: 15px;
  text-align: center;
  width: 100px;
  margin: 0 0 8px;
}
.top-system__span {
  font-size: 70%;
}
.top-system__border {
  max-width: 820px;
  margin: 20px auto 0;
}
.top-system__border--short {
  max-width: 620px;
}
.top-system__plan-span {
  font-size: 12px;
  white-space: nowrap;
}
.top-system__text {
  max-width: 300px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .top-system__text {
    margin: 0 0 0 40px;
  }
}
.top-system__tax {
  text-align: center;
  color: #ae1e2a;
}
.top-system__scroll-text {
  text-align: center;
  margin: 0 0 16px;
}

/* =================================
top-access
 ================================= */
.top-access {
  padding: 60px 16px;
}
@media (max-width: 600px) {
  .top-access {
    padding: 20px 16px;
  }
}
.top-access__box {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  justify-content: center;
}
@media (max-width: 600px) {
  .top-access__box {
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 600px) {
  .top-access__text-wrap {
    width: 100%;
  }
}
.top-access__text {
  margin: 0 0 16px;
}
.top-access__text-span {
  font-size: 80%;
}
.top-access__map-wrap {
  width: 50%;
}
@media (max-width: 600px) {
  .top-access__map-wrap {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}
.top-access__map {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 80.25%;
  overflow: hidden;
}
.top-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =================================
top-recruit
 ================================= */
.top-recruit {
  padding: 60px 16px;
}
@media (max-width: 600px) {
  .top-recruit {
    padding: 20px 16px;
  }
}
.top-recruit__box {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  gap: 40px;
}
@media (max-width: 600px) {
  .top-recruit__box {
    flex-direction: column;
    gap: 16px;
  }
}
.top-recruit__text {
  margin: 0 0 16px;
}
/* =================================
top-info
 ================================= */
.top-info {
  padding: 60px 16px 120px;
}
@media (max-width: 600px) {
  .top-info {
    padding: 20px 16px 40px;
  }
}
.top-info__box {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  gap: 40px;
}
@media (max-width: 600px) {
  .top-info__box {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.top-info__item {
  width: calc(50% - 16px);
}
.top-info__item-ttl {
  text-align: center;
}/*# sourceMappingURL=style.css.map */